<!DOCTYPE html>
<html lang="en">
<head>
  <title>O2.alkep.cz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-12">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">
              {{ message }}
            </div>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <h4>Zákazníci</h4>
      <hr>
      <small><p>Jednotlivé položky (jméno, skupina, číslo) jsou oddělené čárkou</p></small>
      <form action="save_persons" method="POST">
        <div class="form-group">
          <textarea class="form-control" id="CustomersTextarea" name="persons" rows="20">
{% for phone, person in persons.items() -%}
{{person["name"]}}, {{person["group"]}}, {{phone}}
{% endfor %}</textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Uložit nastavení skupin</button>
        </div>
      </form>
      <br>
      
      <h4>Upload souboru</h4>
      <hr>
      <small><p>Podporované typy souborů jsou .xml a .xml.gz</p></small>
      <form action="process" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <input type="file" class="form-control-file" name="input-file">
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">Zpracovat soubor</button>
          </div>
      </form>
      <hr>

      {% if groups %}
      <h4>Výsledky</h4>
      <h4><small>Skupiny</small></h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Skupina</th>
            <th>Paušál (s DPH)</th>
            <th>Jednorázové platby (s DPH)</th>
            <th>Mimo paušál (s DPH)</th>
            <th>Služby 3. stran</th>
            <th>Suma</th>
          </tr>
        </thead>
        <tbody>
          {% for name, group in groups.items() %}
          <tr>
            <td>{{ name }}</td>
            <td>{{ group["regular"] | format_number }}</td>
            <td>{{ group["one_time"] | format_number }}</td>
            <td>{{ group["usage"] | format_number }}</td>
            <td>{{ group["payments"] | format_number }}</td>
            <th scope="row">{{ group["sum"] | format_number }}</td>
          </tr>
          {% endfor %}
          <tr>
            <th scope="row">Suma</th>
            <th scope="row">{{ sums["group_regular"] | format_number }}</th>
            <th scope="row">{{ sums["group_one_time"] | format_number }}</th>
            <th scope="row">{{ sums["group_usage"] | format_number }}</th>
            <th scope="row">{{ sums["group_payments"] | format_number }}</th>
            <th scope="row">{{ sums["all_groups"] | format_number }}</th>
          </tr>
        </tbody>
      </table>

      <h4><small>Zákazníci</small></h4>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Jméno</th>
            <th>Telefon</th>
            <th>Paušál (s DPH)</th>
            <th>Jednorázové platby (s DPH)</th>
            <th>Mimo paušál (s DPH)</th>
            <th>Služby 3. stran</th>
            <th>Suma</th>
          </tr>
        </thead>
        <tbody>
          {% for phone, person in persons.items() %}
          <tr>
            <td>{{ person["name"] }}</td>
            <td>{{ phone }}</td>
            <td>{{ person["regular"] | format_number }}</td>
            <td>{{ person["one_time"] | format_number }}</td>
            <td>{{ person["usage"] | format_number }} </td>
            <td>{{ person["payments"] | format_number }}</td>
            <th scope="row">{{ person["sum"] | format_number }} </td>
          </tr>
          {% endfor %}
        </tbody>
        <tr>
          <th scope="row">Suma</th>
          <th scope="row"></th>
          <th scope="row">{{ sums["persons_regular"] | format_number }}</th>
          <th scope="row">{{ sums["persons_one_time"] | format_number }}</th>
          <th scope="row">{{ sums["persons_usage"] | format_number }}</th>
          <th scope="row">{{ sums["persons_payments"] | format_number }}</th>
          <th scope="row">{{ sums["all_persons"] | format_number }}</th>
        </tr>
      </table>
      {% endif %}
    </div>
  </div>
</div>

</body>
</html>
